[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorlog = "*"
python-dotenv = "*"
pillow = "*"
requests = "*"
fastapi = {extras = ["latest"], version = "*"}
uvicorn = "*"
pydantic = "*"

[dev-packages]
pytest-cov = "*"
autopep8 = "*"
black = "*"
pre-commit = "*"
flake8 = "*"

[requires]
python_version = "3.11"
